<!-- footer.ejs created by Lucas, Lai Sing Lau | 301198475 @ 20220601 -->
<footer class="bg-dark text-center text-white">
  <div id="copyright" class="fst-italic fs-6 p-3">© Copyright Lucas Lau - COMP229 - Summer 2022 | Assignment 1</div>
</footer>