<!-- header.ejs created by Lucas, Lai Sing Lau | 301198475 @ 20220601 -->
<div id="logo">
  <a href="/" target=""><img src="./Assets/images/logo.png" alt=""><br />Lucas Lau</a>
</div>
<div id="sidebar">
  <nav>
    <a class="link" href="/"><i class="fa-solid fa-house fa-lg"></i> Home</a>
    <a class="link" href="about"><i class="fa-solid fa-circle-info fa-lg"></i> About</a>
    <a class="link" href="projects"><i class="fa-solid fa-briefcase fa-lg"></i> Projects</a>
    <a class="link" href="services"><i class="fa-solid fa-gear fa-lg"></i> Services</a>
    <a class="link" href="contact"><i class="fa-solid fa-address-book fa-lg"></i> Contact</a>
  </nav>
</div>
<div id="social" class="mb-5">
  <a href="mailto:llau34@my.centennialcollege.ca" target="_blank" title="Email to Lucas"><i class="fa-solid fa-envelope"></i></a>
  <a href="https://www.linkedin.com/in/lau-lucas-613aa7223" target="_blank" title="Lucas Linkedin Profile"><i class="fa-brands fa-linkedin-in"></i></a>
  <a href="https://github.com/lucaslauhkca" target="_blank" title="Lucas GitHub Profile"><i class="fa-brands fa-github"></i></a>
</div>
<span id="mMenu"><i class="fa-solid fa-bars"></i></span>