<!-- about.ejs created by Lucas, Lai Sing Lau | 301198475 @ 20220601 -->
<div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 m-auto p-5">
        <h2 class="title"><%= title %></h2>
        <p class="h5">I am Lucas Lau, a web developer from Hong Kong. Previously, I worked as a Joomla Developer in Hong Kong after I graduated from the Education University of Hong Kong with a Bachelor of Social Science degree.</p>
        <p class="h5 mb-5">I'm interested in coding and solving problems.  Recently, I take the course of Software Engineer in Centennial College and I'm passionate about learning different programming language to prepare myself to be a powerful web developer!</p>
        <p class="mb-5"><a href="https://drive.google.com/file/d/1CHn7rngAIBQyJkq9khjphdlUhSeqXkRH/view?usp=share_link" target="_blank" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">My Resume</a></p>
      </div>
      <div id="myPhoto" class="col-lg-6 m-auto px-0"></div>
    </div>
</div>