<!-- home.ejs created by Lucas, Lai Sing Lau | 301198475 @ 20220601 -->
<div class="container-fluid ml-5">
    <div class="row ">
        <div id="welcome" class="p-5">
            <h1 class="display-1">
                Hello World!<br />
                I'm Lucas,
                a developer.
            </h1>
            <p class="mb-5 lead" style="color: #ffdb00">Web Developer | Software Engineer</p>
            <h2>Come Together and Lost in a Maze of Code</h2>
            <a href="contact" class="btn btn-warning btn-lg active" role="button" aria-pressed="true"><span>Contact Me</span></a>
        </div>
    </div>  
</div>
