<!-- projects.ejs created by Lucas, Lai Sing Lau | 301198475 @ 20220601 -->
<div class="container">
    <h2 class="title"><%= title %></h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <a href="https://csdigeolab.gov.hk/en/" target="_blank"><img src="./Assets/images/geolab.png" class="card-img-top" alt="GeoLab Website"></a> 
            <div class="card-body">
              <a href="https://csdigeolab.gov.hk/en/" target="_blank"><h5 class="card-title">GeoLab</h5></a>
              <p class="card-text">This is a CMS Website for The Government of the Hong Kong Special Administrative Region Development Bureau.  I join the project as one of web developer to design the entire web structure and design.  I also help to create a booking system for the members.</p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <a href="https://readingisjoyful.gov.hk/en/" target="_blank"><img src="./Assets/images/readingisjoyful.png" class="card-img-top" alt="Library Website"></a> 
              <div class="card-body">
                <a href="https://readingisjoyful.gov.hk/en/" target="_blank"><h5 class="card-title">Reading is Joyful</h5></a>
                <p class="card-text">This is a CMS Website for Hong Kong Public Libraries.    I join the project as one of web developer to design the entire web structure and design.  I also need to instruct clients how to create article or page in this system.</p>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <a href="http://studentweb.cencol.ca/llau34/" target="_blank"><img src="./Assets/images/studentweb.png" class="card-img-top" alt="Student Web"></a> 
              <div class="card-body">
                <a href="http://studentweb.cencol.ca/llau34/" target="_blank"><h5 class="card-title">Student Web</h5></a>
                <p class="card-text">This is a student projects website in Centennial College.  It includes the assignment projects from COMP213 and COMP125.  All the projects show how I use HTML, CSS and Javascript to develop a campaign website or program.</p>
              </div>
            </div>
        </div>
    </div>
</div>