<!-- services.ejs created by Lucas, Lai Sing Lau | 301198475 @ 20220601 -->
<div class="container">
    <h2 class="title"><%= title %></h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="./Assets/images/web_develop.jpg" class="card-img-top" alt="Web Develop">
            <div class="card-body">
                <h5>Web Develop</h5>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="./Assets/images/software.jpg" class="card-img-top" alt="Software Design and Develop">
              <div class="card-body">
                  <h5>Software Design and Develop</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="./Assets/images/testing.jpg" class="card-img-top" alt="System Testing">
              <div class="card-body">
                  <h5>System Testing</h5>
              </div>
            </div>
          </div>
    </div>
</div>